body {
    width: 24em;
    /* prevent scroll bars*/
    overflow: hidden;
    margin: 0;
}

.hidden {
    display: none !important;
}

header {
    background: #1d99f3;
    padding: 2px;
    color: #fff;
    text-align: center;
}

section {
    margin: 0 0.5em;
}

section > header {
    background: #F0F0F0;
    color: #757777;
    margin: 0 -1em -0.5em -1em;
}

.message {
    padding: 10px;
}
.message.with-icon::before {
    content: '';
    height: 48px;
    display: block;
    background: center no-repeat;
}
.message.with-icon.general::before {
    background-image: url('icons/plasma.svg');
}
.message.with-icon.error::before {
    background-image: url('icons/sad-face.svg');
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #232629;
        color: #eff0f1;
    }
    .message.with-icon.error::before {
        filter: invert(1);
    }
}

/* Media controls blacklist */
.mpris-blacklist-info {
    padding: 0.5em 0;
}
.mpris-blacklist-info p {
    padding: 0 0.5em;
}
.mpris-blacklist-info ul {
    display: block;
    padding: 0 0.5em;
}
.mpris-blacklist-info ul > li {
    display: block;
    margin-bottom: 0.5em;
}

/* Itinerary */
.itinerary-info {

}
.itinerary-info div.banner {
    width: 100%;
    height: 100px;
    overflow: hidden;
}
.itinerary-info .banner > .blur {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100px;
    /*transform: scale(2);*/
    filter: blur(10px);
    background-size: 100% 100%;
    z-index: -1;
}
.itinerary-info .banner > .image {
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow: auto;
    position: relative;
}

.itinerary-info h2 {
    padding: 0 0.5em;
    text-align: center;
}

.itinerary-info p {
    padding: 0 0.5em;
    /* HACK this voodoo elides too long text */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

ul.actions {
    display: block;
    padding: 0 0.5em;
}
ul.actions > li {
    display: block;
    margin-bottom: 0.5em;
}
/*ul.actions > li:not(:last-child) {
    margin-bottom: 0;
}*/

ul.actions > li > a {
    display: block;
    background: #3daee9; /* Breeze highlight color */
    color: #fcfcfc; /* Breeze highlight text color */
    text-decoration: none;
    padding: 0.5em;
    border-radius: 0.2em;
}

ul.details {
    list-style: none;
    padding-left: 0.5em;
}
ul.details > li {
    margin-bottom: 0.5em;
}

ul.details li.icon::before {
    margin-right: 0.5em;
}
ul.details li.icon.dates::before {
    content: "📅"; /* "Calendar" Emoji */
}
ul.details li.icon.location::before {
    content: "📍" /* "Location pin" Emoji */
}
ul.details li.icon.email::before {
    content: "📧" /* "EMail" Emoji */
}
ul.details li.icon.phone::before {
    content: "☎️" /* "Phone" Emoji */
}
ul.details li.icon.ticket::before {
    content: "🎫" /* "Ticket" Emoji */
}
ul.details li.icon.seat::before {
    content: "💺" /* "Seat" Emoji */
}
