body {
    width: 24em;
    /* prevent scroll bars*/
    overflow: hidden;
    margin: 0;
}

a {
    color: #3b85b5;
}
a:visited {
    color: #2980b9;
}
a:hover {
    color: #3daefd;
}

hr {
    border: none;
    border-top: 1px solid #bcbebf;
    margin: 0px -1em;
}

.hidden {
    display: none !important;
}

header {
    background: #1d99f3;
    padding: 2px;
    color: #fff;
    text-align: center;
}

section {
    margin: 0 0.5em;
}

section > header {
    background: #F0F0F0;
    color: #757777;
    margin: 0 -1em -0.5em -1em;
}

section.separated {
    border-top: 1px solid #bcbebf;
}

.message {
    padding: 10px;
}
.message.with-icon::before {
    content: '';
    height: 48px;
    display: block;
    background: center no-repeat;
}
.message.with-icon.general::before {
    background-image: url('icons/plasma.svg');
}
.message.with-icon.error::before {
    background-image: url('icons/sad-face.svg');
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #232629;
        color: #eff0f1;
    }
    .message.with-icon.error::before {
        filter: invert(1);
    }
}

.breeze-button {
    display: inline-block;
    color: #232627!important;
    text-decoration: none;
    background-color: #eff0f1;
    background-image: linear-gradient(180deg,#f2f2f3,#e8e9ea);
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(35,38,39,.1);
    border-color: #bcbebf!important;
    border-radius: 3px;
    border: 1px solid;
    padding: 6px;
    transition: all .1s linear;
}
.breeze-button:hover {
    border-color: #93cee9!important;
    background-color: #eff0f1!important;
}
.breeze-button:active {
    background-image: linear-gradient(180deg,#96cfea,#8acae7);
    box-shadow: .5px .5px .5px .5px rgba(35,38,39,.1);
    transform: translate(1px,1px)
}
.breeze-button:focus:not(:active) {
    color: #fcfcfc!important;
    border-color: #3daee9!important;
    background-image: linear-gradient(180deg,#40afe9,#35abe8)
}

/* Media controls blacklist */
.mpris-blacklist-info {
    padding: 0.5em 0;
}
.mpris-blacklist-info p {
    padding: 0 0.5em;
}
.mpris-blacklist-info ul {
    display: block;
    padding: 0 0.5em;
}
.mpris-blacklist-info ul > li {
    display: block;
    margin-bottom: 0.5em;
}

/* Itinerary */
.itinerary-info {

}
.itinerary-info div.banner {
    width: 100%;
    height: 100px;
    overflow: hidden;
}
.itinerary-info .banner > .blur {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100px;
    /*transform: scale(2);*/
    filter: blur(10px);
    background-size: 100% 100%;
    z-index: -1;
}
.itinerary-info .banner > .image {
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow: auto;
    position: relative;
}

.itinerary-info h2 {
    text-align: center;
}
.itinerary-info h3 {
    text-align: center;
    margin-block-start: 0;
}

.itinerary-info p {
    padding: 0 0.5em;
    /* HACK this voodoo elides too long text */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

ul.itinerary-details {
    list-style: none;
    padding: 0 0.5em;
}
ul.itinerary-details > li {
    display: block;
    margin-bottom: 0.5em;
    /* so that it accomodates the right-floating contextual actions */
    overflow-y: visible;
    overflow-x: hidden;
}
ul.itinerary-details > li > .contextual-actions {
    display: block;
    float: right;
}
ul.itinerary-details > li:not(.action) a.breeze-button {
    padding: 0;
}

/*ul.itinerary-details > li:not(.action) :not(.contextual-actions) a.breeze-button {
    padding-left: 0;
    padding-right: 0;
}*/

li.icon {
    /* account for absolutely positioned icon*/
    padding-left: 2em;
}
li.icon::before {
    position: absolute;
    /* counteract padding of parent*/
    margin-left: -2em;
}
li.action > a.breeze-button {
    display: block;
}
a.breeze-button.icon:not(:empty)::before {
    margin-right: 6px;
}
a.breeze-button.icon::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;

    vertical-align: middle;
    background-size: contain;
}
a.breeze-button.icon.marble::before {
    content: "📍";
}
a.breeze-button.icon.kdeconnect::before {
    background-image: url("icons/kdeconnect-16.svg");
}
a.breeze-button.icon.calendar::before {
    background-image: url("icons/calendar-new-16.svg");
}
a.breeze-button.icon.itinerary::before {
    background-image: url("icons/itinerary-app.svg");
}
a.breeze-button.icon.workbench::before {
    background-image: url("icons/globe-16.svg");
}

li.icon.dates::before {
    content: "📅"; /* "Calendar" Emoji */
}
li.icon.location::before {
    content: "📍" /* "Location pin" Emoji */
}
li.icon.arriving-plane::before {
    content: "🛬" /* "Airplane Arriving" Emoji */
}
li.icon.departing-plane::before {
    content: "🛫" /* "Airplane Departure" Emoji */
}
li.icon.email::before {
    content: "📧" /* "EMail" Emoji */
}
li.icon.phone::before {
    content: "☎️" /* "Phone" Emoji */
}
li.icon.ticket::before {
    content: "🎫" /* "Ticket" Emoji */
}
li.icon.seat::before {
    content: "💺" /* "Seat" Emoji */
}
