[Desktop Entry]
# ctxt: plasma runner
Name=Browser History
Name[az]=Veb bələdçi tarixçəsi
Name[ca]=Historial del navegador
Name[es]=Historial del navegador
Name[fr]=Historique de navigation
Name[hu]=Böngészési előzmények
Name[nl]=Browsergeschiedenis
Name[pt]=Histórico do Navegador
Name[sk]=História prehliadača
Name[sl]=Zgodovina brskanja
Name[sv]=Webbläsarhistorik
Name[uk]=Журнал навігатора
Name[x-test]=xxBrowser Historyxx
Comment=Search the browser history for visited websites
Comment[az]=Veb bələdçi tarixçəsini baxılan veb səhifələr üzrə axtarmaq
Comment[ca]=Cerca llocs web visitats a l'historial del navegador
Comment[de]=Browserverlauf nach besuchten Webseiten durchsuchen
Comment[es]=Buscar sitios web visitados en el historial del navegador
Comment[fr]=Rechercher l'historique de navigation pour les sites Internet visités.
Comment[hu]=Meglátogatott weboldalak keresése a böngészési előzményekben
Comment[nl]=De browsergeschiedenis doorzoeken naar bezochte websites
Comment[nn]=Søk i loggen over nettstadar du har vitja
Comment[pt]=Pesquisar no histórico do navegador pelas páginas Web visitadas
Comment[sk]=Hľadať navštívené webové stránky v histórii prehliadača
Comment[sl]=Preišči zgodovino brskanja o obiskanih spletiščih
Comment[sv]=Sök igenom webbläsarhistoriken efter besökta webbplatser
Comment[uk]=Пошук у журналі перегляду інтернету щодо відвіданих сайтів
Comment[x-test]=xxSearch the browser history for visited websitesxx
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
# TODO better icon
Icon=preferences-web-browser-cookies
X-KDE-PluginInfo-Author=Kai Uwe Broulik
X-KDE-PluginInfo-Email=kde@broulik.de
X-KDE-PluginInfo-Name=browserhistory
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
X-Plasma-API=DBus
X-Plasma-DBusRunner-Service=org.kde.plasma.browser_integration*
X-Plasma-DBusRunner-Path=/HistoryRunner
X-Plasma-Request-Actions-Once=true
X-Plasma-Runner-Min-Letter-Count=3
X-Plasma-Runner-Syntaxes=:q:,
X-Plasma-Runner-Syntax-Descriptions=Finds websites in the browser history whose title or URL match :q:
