[Desktop Entry]
# ctxt: plasma runner
Name=Browser History
Name[ast]=Historial del restolador
Name[az]=Veb bələdçi tarixçəsi
Name[ca]=Historial del navegador
Name[cs]=Historie prohlížeče
Name[de]=Browser-Verlauf
Name[en_GB]=Browser History
Name[es]=Historial del navegador
Name[eu]=Arakatzailearen historia
Name[fi]=Selainhistoria
Name[fr]=Historique de navigation
Name[hu]=Böngészési előzmények
Name[ia]=Chronologia de Navigator
Name[it]=Cronologia del browser
Name[ko]=브라우저 과거 기록
Name[lt]=Naršyklės istorija
Name[nl]=Browsergeschiedenis
Name[nn]=Nettlesarlogg
Name[pl]=Historia przeglądarki
Name[pt]=Histórico do Navegador
Name[pt_BR]=Histórico do navegador
Name[ru]=Журнал браузера
Name[sk]=História prehliadača
Name[sl]=Zgodovina brskanja
Name[sv]=Webbläsarhistorik
Name[uk]=Журнал навігатора
Name[x-test]=xxBrowser Historyxx
Name[zh_CN]=浏览器历史记录
Comment=Search the browser history for visited websites
Comment[az]=Veb bələdçi tarixçəsini baxılan veb səhifələr üzrə axtarmaq
Comment[ca]=Cerca llocs web visitats a l'historial del navegador
Comment[cs]=Prohledávejte historii navštívených webových stránek
Comment[de]=Browserverlauf nach besuchten Webseiten durchsuchen
Comment[en_GB]=Search the browser history for visited websites
Comment[es]=Buscar sitios web visitados en el historial del navegador
Comment[eu]=Bilatu arakatzailearen historian bisitatutako webguneen bila
Comment[fi]=Etsi selainhistoriasta vierailtuja sivustoja
Comment[fr]=Rechercher l'historique de navigation pour les sites Internet visités.
Comment[hu]=Meglátogatott weboldalak keresése a böngészési előzményekben
Comment[ia]=Cerca le chronologia de navigator per sitos web visitate
Comment[it]=Cerca i siti visitati nella cronologia del browser
Comment[ko]=방문한 웹사이트를 브라우저 과거 기록에서 검색
Comment[lt]=Ieškoti naršyklės istorijoje aplankytų internetinių svetainių
Comment[nl]=De browsergeschiedenis doorzoeken naar bezochte websites
Comment[nn]=Søk i loggen over nettstadar du har vitja
Comment[pl]=Szuka odwiedzonych stron w historii przeglądarki
Comment[pt]=Pesquisar no histórico do navegador pelas páginas Web visitadas
Comment[pt_BR]=Pesquisar no histórico do navegador por sites visitados
Comment[ru]=Поиск в журнале браузера
Comment[sk]=Hľadať navštívené webové stránky v histórii prehliadača
Comment[sl]=Preišči zgodovino brskanja o obiskanih spletiščih
Comment[sv]=Sök igenom webbläsarhistoriken efter besökta webbplatser
Comment[uk]=Пошук у журналі перегляду інтернету щодо відвіданих сайтів
Comment[x-test]=xxSearch the browser history for visited websitesxx
Comment[zh_CN]=搜索浏览器的已访问网站历史记录
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
# TODO better icon
Icon=preferences-web-browser-cookies
X-KDE-PluginInfo-Author=Kai Uwe Broulik
X-KDE-PluginInfo-Email=kde@broulik.de
X-KDE-PluginInfo-Name=browserhistory
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
X-Plasma-API=DBus
X-Plasma-DBusRunner-Service=org.kde.plasma.browser_integration*
X-Plasma-DBusRunner-Path=/HistoryRunner
X-Plasma-Request-Actions-Once=true
X-Plasma-Runner-Min-Letter-Count=3
X-Plasma-Runner-Syntaxes=:q:,
X-Plasma-Runner-Syntax-Descriptions=Finds websites in the browser history whose title or URL match :q:
