[Desktop Entry]
# ctxt: plasma runner
Name=Browser Tabs
Comment=Find and activate browser tabs
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=internet-web-browser
X-KDE-PluginInfo-Author=Kai Uwe Broulik
X-KDE-PluginInfo-Email=kde@broulik.de
X-KDE-PluginInfo-Name=browsertabs
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
X-Plasma-API=DBus
X-Plasma-DBusRunner-Service=org.kde.plasma.browser_integration*
X-Plasma-DBusRunner-Path=/TabsRunner
X-Plasma-Request-Actions-Once=true
X-Plasma-Runner-Min-Letter-Count=3
X-Plasma-Runner-Syntaxes=:q:,
X-Plasma-Runner-Syntax-Descriptions=Finds open browser tabs whose title or URL match :q:
