[Desktop Entry]
# ctxt: plasma runner
Name=Browser History
Name[ar]=تأريخ المتصفّح
Name[az]=Veb bələdçi tarixçəsi
Name[bg]=История на браузъра
Name[ca]=Historial del navegador
Name[ca@valencia]=Historial del navegador
Name[cs]=Historie prohlížeče
Name[da]=Browserhistorik
Name[de]=Browser-Verlauf
Name[en_GB]=Browser History
Name[eo]=Retumila Historio
Name[es]=Historial del navegador
Name[eu]=Arakatzailearen historia
Name[fi]=Selainhistoria
Name[fr]=Historique de navigation
Name[gl]=Historial do navegador
Name[he]=היסטוריית דפדפן
Name[hi]=ब्राउज़र इतिहास
Name[hu]=Böngészési előzmények
Name[ia]=Chronologia de Navigator
Name[id]=Browser Riwayat
Name[is]=Vafraferill
Name[it]=Cronologia del browser
Name[ka]=ბრაუზერის ისტორია
Name[ko]=브라우저 과거 기록
Name[lt]=Naršyklės istorija
Name[lv]=Pārlūka vēsture
Name[nl]=Browsergeschiedenis
Name[nn]=Nettlesarlogg
Name[pa]=ਬਰਾਊਜ਼ਰ ਅਤੀਤ
Name[pl]=Historia przeglądarki
Name[pt]=Histórico do Navegador
Name[pt_BR]=Histórico do navegador
Name[ro]=Istoric navigator
Name[ru]=Журнал браузера
Name[sa]=ब्राउज़र इतिहास
Name[sk]=História prehliadača
Name[sl]=Zgodovina brskanja
Name[sv]=Webbläsarhistorik
Name[ta]=உலாவி வரலாறு
Name[tr]=Tarayıcı Geçmişi
Name[uk]=Журнал навігатора
Name[zh_CN]=浏览器历史记录
Name[zh_TW]=瀏覽器歷史
Comment=Search the browser history for visited websites
Comment[ar]=ابحث في تأريخ المتصفّح عن المواقع التي زُرتها
Comment[az]=Veb bələdçi tarixçəsini baxılan veb səhifələr üzrə axtarmaq
Comment[bg]=Търсене в историята на браузъра за посетени сайтове
Comment[ca]=Cerca llocs web visitats a l'historial del navegador
Comment[ca@valencia]=Busca llocs web visitats en l'historial del navegador
Comment[cs]=Prohledávejte historii navštívených webových stránek
Comment[da]=Søg i browserhistorikken for besøgte hjemmesider
Comment[de]=Browserverlauf nach besuchten Webseiten durchsuchen
Comment[en_GB]=Search the browser history for visited websites
Comment[eo]=Serĉi la retumilan historion por vizititaj retejoj
Comment[es]=Buscar sitios web visitados en el historial del navegador
Comment[eu]=Bilatu arakatzailearen historian bisitatutako webguneen bila
Comment[fi]=Etsi selainhistoriasta vierailtuja sivustoja
Comment[fr]=Rechercher l'historique de navigation pour les sites Internet visités.
Comment[gl]=Buscar sitios web visitados no historial do navegador.
Comment[he]=חיפוש אתרים שביקרת בהם בהיסטוריית הדפדפן
Comment[hi]=देखी गई वेबसाइटों के लिए ब्राउज़र इतिहास खोजें
Comment[hu]=Meglátogatott weboldalak keresése a böngészési előzményekben
Comment[ia]=Cerca le chronologia de navigator per sitos web visitate
Comment[id]=Cari riwayat browser untuk situs web yang dikunjungi
Comment[is]=Leita að heimsóttum vefsíðum í vafraferli
Comment[it]=Cerca i siti visitati nella cronologia del browser
Comment[ka]=ბრაუზერის ისტორიაში ძებნა
Comment[ko]=방문한 웹사이트를 브라우저 과거 기록에서 검색
Comment[lt]=Ieškoti naršyklės istorijoje aplankytų internetinių svetainių
Comment[lv]=Meklēt apmeklētās tīmekļa vietnes pārlūkošanas vēsturi
Comment[nl]=De browsergeschiedenis doorzoeken naar bezochte websites
Comment[nn]=Søk i loggen over nettstadar du har vitja
Comment[pa]=ਖੋਲ੍ਹੀਆਂ ਵੈੱਬਸਾਈਟਾਂ ਲਈ ਬਰਾਊਜ਼ਰ ਅਤੀਤ ਨੂੰ ਖੋਜੋ
Comment[pl]=Szuka odwiedzonych stron w historii przeglądarki
Comment[pt]=Pesquisar no histórico do navegador pelas páginas Web visitadas
Comment[pt_BR]=Pesquisar no histórico do navegador por sites visitados
Comment[ro]=Găsește saituri vizitate în istoricul navigatorului
Comment[ru]=Поиск в журнале браузера
Comment[sa]=भ्रमणं कृतानां जालपुटानां कृते ब्राउजर् इतिहासं अन्वेष्टुम्
Comment[sk]=Hľadať navštívené webové stránky v histórii prehliadača
Comment[sl]=Preišči zgodovino brskanja o obiskanih spletiščih
Comment[sv]=Sök igenom webbläsarhistoriken efter besökta webbplatser
Comment[ta]=நீங்கள் பார்த்த பக்கங்களை உலாவி வரலாற்றில் தேடுங்கள்
Comment[tr]=Tarayıcı geçmişini ziyaret edilen web sayfaları için arayın
Comment[uk]=Пошук у журналі перегляду інтернету щодо відвіданих сайтів
Comment[zh_CN]=搜索浏览器的已访问网站历史记录
Comment[zh_TW]=在瀏覽器歷史中搜尋訪問過的網站
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
# TODO better icon
Icon=preferences-web-browser-cookies
X-KDE-PluginInfo-Author=Kai Uwe Broulik
X-KDE-PluginInfo-Email=kde@broulik.de
X-KDE-PluginInfo-Name=browserhistory
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=DBus
X-Plasma-DBusRunner-Service=org.kde.plasma.browser_integration*
X-Plasma-DBusRunner-Path=/HistoryRunner
X-Plasma-Request-Actions-Once=true
X-Plasma-Runner-Syntaxes=:q:
X-Plasma-Runner-Syntax-Descriptions=Finds websites in the browser history whose title or URL match :q:
X-Plasma-Runner-Syntax-Descriptions[ar]=يعثر على المواقع في تاريخ المتصفح التي يتطابق عنوانها أو رابطها مع :q:
X-Plasma-Runner-Syntax-Descriptions[az]=Başlığı və URL ünvanı :q: ilə oxşar veb səhifələri baxış tarixçəsində tapır
X-Plasma-Runner-Syntax-Descriptions[bg]=Намира уебсайтове в историята на браузъра, чието заглавие или URL съвпада с :q:
X-Plasma-Runner-Syntax-Descriptions[ca]=Cerca llocs web en l'historial del navegador el títol o l'URL dels quals coincideixi amb :q:
X-Plasma-Runner-Syntax-Descriptions[ca@valencia]=Busca llocs web en l'historial del navegador el títol o l'URL dels quals coincidisca amb :q:
X-Plasma-Runner-Syntax-Descriptions[cs]=Najde webové stránky z historie, jejichž název nebo URL odpovídá :q:
X-Plasma-Runner-Syntax-Descriptions[da]=Finder hjemmesider i browserhistorikken hvis titler eller URL matcher :q:
X-Plasma-Runner-Syntax-Descriptions[de]=Findet Webseiten im Browser-Verlauf, deren Titel oder Adresse auf :q: passt
X-Plasma-Runner-Syntax-Descriptions[en_GB]=Finds websites in the browser history whose title or URL match :q:
X-Plasma-Runner-Syntax-Descriptions[eo]=Trovas retejojn en la retumila historio, kies titolo aŭ URL kongruas :q:
X-Plasma-Runner-Syntax-Descriptions[es]=Encuentra sitios web en el historial del navegador cuyo título o URL coincidan con :q:
X-Plasma-Runner-Syntax-Descriptions[eu]=Arakatzailearen historian haien titulua edo URLa :q:(e)kin bat datozen webguneak aurkitzen ditu
X-Plasma-Runner-Syntax-Descriptions[fi]=Etsii selainhistoriasta sivustoja, joiden otsikko tai verkko-osoite vastaa hakua :q:
X-Plasma-Runner-Syntax-Descriptions[fr]=Trouve les sites Internet dans l'historique du navigateur dont le titre ou l'URL correspondent :q:
X-Plasma-Runner-Syntax-Descriptions[gl]=Atopa sitios web no historial do navegador cun título ou URL que coincide con :q:
X-Plasma-Runner-Syntax-Descriptions[he]=איתור של אתרים בהיסטוריית הדפדפן שהכתובת שלהם עונה על :q:
X-Plasma-Runner-Syntax-Descriptions[hi]=ब्राउज़र इतिहास में ऐसी वेबसाइटें ढूँढता है जिनका शीर्षक या URL :q: से मेल खाता है
X-Plasma-Runner-Syntax-Descriptions[hu]=A :q: kifejezésre illeszkedő című vagy URL-ű weboldalak keresése a böngésző előzményeiben
X-Plasma-Runner-Syntax-Descriptions[ia]=Trova sitos web in le chronologia del navigator le cuje titulo o URL corresponde :q:
X-Plasma-Runner-Syntax-Descriptions[is]=Finna vefsíður í vafraferli með titil eða slóð sem passar við :q:
X-Plasma-Runner-Syntax-Descriptions[it]=Trova i siti web nella cronologia del browser il cui titolo o URL corrisponde a :q:
X-Plasma-Runner-Syntax-Descriptions[ka]=ბრაუზერის ისტორიაში მოძებნის საიტებს, რომლებიც ემთხვევა :q:
X-Plasma-Runner-Syntax-Descriptions[ko]=:q:와 제목이나 URL이 일치하는 웹 브라우저 방문 기록 검색
X-Plasma-Runner-Syntax-Descriptions[lt]=Randa naršyklės naršymo žurnale internetines svetaines, kurių pavadinimas ar URL adresas atitinka :q:
X-Plasma-Runner-Syntax-Descriptions[lv]=Pārlūka vēsturē atrod tīmekļa vietnes, kuru nosaukums vai adrese atbilst :q:
X-Plasma-Runner-Syntax-Descriptions[nl]=Zoek websites in de geschiedenis van de browser waarvan de titel of URL overeenkomt met :q:
X-Plasma-Runner-Syntax-Descriptions[nn]=Finn sider i nettlesarloggen med tittel eller adresse som inneheld :q:
X-Plasma-Runner-Syntax-Descriptions[pl]=Znajduje strony sieciowe w historii przeglądarki, których nazwa lub adres URL odpowiada :q:
X-Plasma-Runner-Syntax-Descriptions[pt]=Procura por páginas Web no histórico do navegador cujo título ou URL corresponde a :q:
X-Plasma-Runner-Syntax-Descriptions[pt_BR]=Encontre sites no histórico do navegador cujo título ou URL correspondam a :q:
X-Plasma-Runner-Syntax-Descriptions[ro]=Găsește în istoricul navigatorului saituri al căror titlu sau URL se potrivește cu :q:
X-Plasma-Runner-Syntax-Descriptions[ru]=Поиск в журнале браузера веб-сайтов, заголовки или URL-адреса которых соответствуют :q:
X-Plasma-Runner-Syntax-Descriptions[sa]=ब्राउजर् इतिहासे तानि जालपुटानि अन्वेषयति येषां शीर्षकं वा URL वा :q:
X-Plasma-Runner-Syntax-Descriptions[sk]=Nájde webové stránky v histórii prehliadača, ktorých názov alebo URL vyhovuje :q:
X-Plasma-Runner-Syntax-Descriptions[sl]=Najdi spletišča v zgodovini brskalnika, katerih naslov ali URL ustreza :q:
X-Plasma-Runner-Syntax-Descriptions[sv]=Söker efter webbplatser i webbläsarhistoriken vars rubrik eller webbadress motsvarar :q:
X-Plasma-Runner-Syntax-Descriptions[ta]=:q: என்பதற்குப் பொருந்தும் இணையதளங்களை உலாவியின் வரலாற்றில் கண்டுபிடிக்கும்
X-Plasma-Runner-Syntax-Descriptions[tr]=Başlığı veya URL’si :q: ile eşleşen siteleri tarayıcı geçmişinde bulur
X-Plasma-Runner-Syntax-Descriptions[uk]=Пошук у журналі навігатора сайтів, чий заголовок або адреса відповідають запиту :q:
X-Plasma-Runner-Syntax-Descriptions[zh_CN]=查找标题或链接匹配 :q: 的浏览器历史记录中的网站
X-Plasma-Runner-Syntax-Descriptions[zh_TW]=尋找瀏覽器歷史中標題或網址符合 :q: 的網站
