[Desktop Entry]
# ctxt: plasma runner
Name=Browser Tabs
Name[ast]=Llingüetes del restolador
Name[az]=Veb bələdçi Vərəqləri
Name[ca]=Pestanyes del navegador
Name[cs]=Karty prohlížeče
Name[de]=Browser-Unterfenster
Name[en_GB]=Browser Tabs
Name[es]=Pestañas del navegador
Name[eu]=Arakatzailearen fitxak
Name[fi]=Selainvälilehdet
Name[fr]=Onglets du navigateur
Name[hu]=Böngészőlapok
Name[ia]=Etiquettas de Navigator
Name[it]=Schede del browser
Name[ko]=브라우저 탭
Name[lt]=Naršyklės kortelės
Name[nl]=Browsertabbladen
Name[nn]=Nettlesarfaner
Name[pl]=Karty przeglądarki
Name[pt]=Páginas do Navegador
Name[pt_BR]=Abas do navegador
Name[ru]=Вкладки браузера
Name[sk]=Karty prehliadača
Name[sl]=Zavihki brskalnika
Name[sv]=Webbläsarflikar
Name[uk]=Вкладки навігатора
Name[x-test]=xxBrowser Tabsxx
Name[zh_CN]=浏览器标签页
Comment=Find and activate browser tabs
Comment[ar]=جِد ألسنة المتصفّح ونشّطها
Comment[ast]=Alcuentra y activa llingüetes del restolador
Comment[az]=Bələdçi vərəqləri siyahısı və onlar arasında keçid
Comment[ca]=Cerca i activa les pestanyes del navegador
Comment[ca@valencia]=Busca i activa les pestanyes del navegador
Comment[cs]=Najít a aktivovat karty prohlížeče
Comment[da]=Find og aktivér browser-faneblade
Comment[de]=Browser-Unterfenster suchen und aktivieren
Comment[el]=Εύρεση και ενεργοποίηση καρτελών περιηγητή
Comment[en_GB]=Find and activate browser tabs
Comment[es]=Buscar y activar pestañas del navegador
Comment[et]=Brauseri kaartide otsimine ja aktiveerimine
Comment[eu]=Aurkitu eta aktibatu arakatzailearen fitxak
Comment[fi]=Etsi ja aktivoi selainvälilehtiä
Comment[fr]=Chercher et activer les onglets du navigateur
Comment[gl]=Atopar e activar separadores do navegador
Comment[hu]=Böngészőlapok keresése és aktiválása
Comment[ia]=Trova e activa etiquettas del navigator
Comment[id]=Temukan dan aktifkan tab-tab browser
Comment[it]=Cerca e attiva le schede del browser
Comment[ko]=브라우저 탭을 찾고 활성화
Comment[lt]=Rasti ir aktyvuoti naršyklės korteles
Comment[nb]=Finner og aktiverer nettleserfaner
Comment[nl]=Zoek en activeer browsertabbladen
Comment[nn]=Finn og aktiver nettlesarfaner
Comment[pl]=Wypisuje karty przeglądarki oraz przełącza pomiędzy nimi
Comment[pt]=Procurar e activar páginas do navegador
Comment[pt_BR]=Encontre e ative as abas do navegador
Comment[ro]=Găsește și activează file de navigator
Comment[ru]=Список вкладок браузера с возможностью переключения между ними
Comment[sk]=Nájsť a aktivovať karty prehliadača
Comment[sl]=Najdite in omogočite zavihke brskalnika
Comment[sr]=Нађите и активирајте језичке прегледача
Comment[sr@ijekavian]=Нађите и активирајте језичке прегледача
Comment[sr@ijekavianlatin]=Nađite i aktivirajte jezičke pregledača
Comment[sr@latin]=Nađite i aktivirajte jezičke pregledača
Comment[sv]=Sök efter och aktivera webbläsarflikar
Comment[tg]=Ёфтан ва фаъол кардани варақаҳои намоишгар
Comment[tr]=Tarayıcı sekmelerini bul ve etkinleştir
Comment[uk]=Пошук і задіяння вкладок навігатора
Comment[x-test]=xxFind and activate browser tabsxx
Comment[zh_CN]=查找并激活浏览器标签页
Comment[zh_TW]=尋找並開啟瀏覽器分頁
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=internet-web-browser
X-KDE-PluginInfo-Author=Kai Uwe Broulik
X-KDE-PluginInfo-Email=kde@broulik.de
X-KDE-PluginInfo-Name=browsertabs
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
X-Plasma-API=DBus
X-Plasma-DBusRunner-Service=org.kde.plasma.browser_integration*
X-Plasma-DBusRunner-Path=/TabsRunner
X-Plasma-Request-Actions-Once=true
X-Plasma-Runner-Min-Letter-Count=3
X-Plasma-Runner-Syntaxes=:q:,
X-Plasma-Runner-Syntax-Descriptions=Finds open browser tabs whose title or URL match :q:
