[Desktop Entry]
Name=Browser Tabs
Name[ar]=ألسنة المتصفّح
Name[ca]=Pestanyes del navegador
Name[ca@valencia]=Pestanyes del navegador
Name[cs]=Karty prohlížeče
Name[da]=Browser-faneblade
Name[de]=Browser-Unterfenster
Name[el]=Καρτέλες περιηγητή
Name[en_GB]=Browser Tabs
Name[es]=Pestañas del navegador
Name[eu]=Arakatzailearen fitxak
Name[fi]=Selainvälilehdet
Name[fr]=Onglets du navigateur
Name[gl]=Lapelas do navegador
Name[hu]=Böngészőlapok
Name[id]=Browser Tabs
Name[it]=Schede del browser
Name[ko]=브라우저 탭
Name[nb]=Nettleserfaner
Name[nl]=Browsertabbladen
Name[nn]=Nettlesarfaner
Name[pl]=Karty przeglądarki
Name[pt]=Páginas do Navegador
Name[pt_BR]=Abas do navegador
Name[ru]=Вкладки браузера
Name[sk]=Karty prehliadača
Name[sl]=Zavihki brskalnika
Name[sr]=Језичци прегледача
Name[sr@ijekavian]=Језичци прегледача
Name[sr@ijekavianlatin]=Jezičci pregledača
Name[sr@latin]=Jezičci pregledača
Name[sv]=Webbläsarflikar
Name[tr]=Tarayıcı Sekmeleri
Name[uk]=Вкладки навігатора
Name[x-test]=xxBrowser Tabsxx
Name[zh_CN]=浏览器标签
Name[zh_TW]=瀏覽器分頁
Comment=Find and activate browser tabs
Comment[ar]=جِد ألسنة المتصفّح ونشّطها
Comment[ca]=Cerca i activa les pestanyes del navegador
Comment[ca@valencia]=Cerca i activa les pestanyes del navegador
Comment[cs]=Najít a aktivovat karty prohlížeče
Comment[de]=Browser-Unterfenster suchen und aktivieren
Comment[el]=Εύρεση και ενεργοποίηση καρτελών περιηγητή
Comment[en_GB]=Find and activate browser tabs
Comment[es]=Buscar y activar pestañas del navegador
Comment[eu]=Aurkitu eta aktibatu arakatzailearen fitxak
Comment[fi]=Etsi ja aktivoi selainvälilehtiä
Comment[fr]=Chercher et activer les onglets du navigateur
Comment[gl]=Atopar e activar lapelas do navegador
Comment[hu]=Böngészőlapok keresése és aktiválása
Comment[id]=Temukan dan aktifkan tab-tab browser
Comment[it]=Cerca e attiva le schede del browser
Comment[ko]=브라우저 탭을 찾고 활성화
Comment[nb]=Finner og aktiverer nettleserfaner
Comment[nl]=Zoek en activeer browsertabbladen
Comment[nn]=Finn og aktiver nettlesarfaner
Comment[pl]=Znajdź i aktywuj karty przeglądarki
Comment[pt]=Procurar e activar páginas do navegador
Comment[pt_BR]=Encontre e ative as abas do navegador
Comment[ru]=Список вкладок браузера с возможностью переключения между ними
Comment[sk]=Nájsť a aktivovať karty prehliadača
Comment[sl]=Najdite in omogočite zavihke brskalnika
Comment[sr]=Нађите и активирајте језичке прегледача
Comment[sr@ijekavian]=Нађите и активирајте језичке прегледача
Comment[sr@ijekavianlatin]=Nađite i aktivirajte jezičke pregledača
Comment[sr@latin]=Nađite i aktivirajte jezičke pregledača
Comment[sv]=Sök efter och aktivera webbläsarflikar
Comment[tr]=Tarayıcı sekmelerini bul ve etkinleştir
Comment[uk]=Пошук і задіяння вкладок навігатора
Comment[x-test]=xxFind and activate browser tabsxx
Comment[zh_CN]=找到并激活浏览器标签
Comment[zh_TW]=尋找並開啟瀏覽器分頁
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=internet-web-browser
X-KDE-Library=krunner_browsertabs
X-KDE-PluginInfo-Author=Kai Uwe Broulik
X-KDE-PluginInfo-Email=kde@privat.broulik.de
X-KDE-PluginInfo-Name=browsertabs
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
