[Desktop Entry]
Type=Service
Name=Plasma Browser Integration Installation Reminder
Comment=Provides a link to the browser extension if the Plasma Browser Integration host is installed

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=browserintegrationreminder
X-KDE-DBus-ModuleName=browserintegrationreminder
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=2

