[Desktop Entry]
Type=Service
Name=Plasma Browser Integration Installation Reminder
Name[ca]=Recordatori d'instal·lació de la Integració del navegador al Plasma
Name[ca@valencia]=Recordatori d'instal·lació de la Integració del navegador al Plasma
Name[cs]=Připomínka instalace integrace prohlížeče Plasma
Name[da]=Påmindelse om installation af Plasma browser-integration
Name[en_GB]=Plasma Browser Integration Installation Reminder
Name[es]=Recordatorio de la instalación de la integración del navegador con Plasma
Name[eu]=Plasman arakatzaileak bateratzeko instalazioaren ohartarazpena
Name[fi]=Plasma-selainintegroinnin asennuksen muistutus
Name[fr]=Rappel d'installation de l'intégration au navigateur Plasma
Name[gl]=Lembranza de instalación da integración co navegador de Plasma
Name[it]=Promemoria dell'installazione dell'integrazione del browser con Plasma
Name[nb]=Påminnelse for nettleserintegrering for Plasma
Name[nl]=Installatieherinnering voor Plasma-browserintegratie
Name[nn]=Påminning for nettlesarintegrering for Plasma
Name[pl]=Przypominanie o wgraniu integracji z przeglądarką Plazmy 
Name[pt]=Chamada de Atenção da Instalação da Integração com o Navegador do Plasma
Name[pt_BR]=Lembrete da instalação da integração de navegadores no Plasma 
Name[sv]=Påminnelse om installation av Plasma webbläsarintegrering
Name[uk]=Нагадування щодо встановлення інтеграції браузера із Плазмою
Name[x-test]=xxPlasma Browser Integration Installation Reminderxx
Name[zh_CN]=Plasma 浏览器集成安装提醒
Name[zh_TW]=Plasma 瀏覽器整合安裝提醒
Comment=Provides a link to the browser extension if the Plasma Browser Integration host is installed
Comment[ca]=Proporciona un enllaç a l'extensió del navegador si està instal·lat el servidor de la Integració del navegador al Plasma
Comment[ca@valencia]=Proporciona un enllaç a l'extensió del navegador si està instal·lat el servidor de la Integració del navegador al Plasma
Comment[da]=Giver et link til den browser-tilføjelsen hvis værtsprogrammet Plasma browser-integration er installeret
Comment[en_GB]=Provides a link to the browser extension if the Plasma Browser Integration host is installed
Comment[es]=Proporciona un enlace a la extensión del navegador si se ha instalado el servidor de integración del navegador con Plasma
Comment[eu]=Arakatzaile hedapenera esteka bat hornitzen du Plasman arakatzaileak bateratzeko ostalaria instalatua badago
Comment[fi]=Tarjoaa linkin selainlaajennukseen, jos Plasman selainintegrointipalvelu on asennettu
Comment[fr]=Fournit un lien vers l'extension du navigateur si l'hôte d'intégration au navigateur Plasma est installé
Comment[gl]=Fornece unha ligazón á extensión do navegador se o servidor de integración co navegador de Plasma está instalado.
Comment[it]=Fornisce un collegamento all'estensione del browser se l'host dell'integrazione del browser con Plasma è installato
Comment[nb]=Oppgir en lenke til nettleserutvidelsen hvis vert for integrering av Plasma-nettleser er installert
Comment[nl]=Biedt een koppeling naar de browser-extensie als de host voor Plasma-browserintegratie is geïnstalleerd
Comment[nn]=Gjev ei lenkje til nettlesarutvidinga viss vert for integrering av Plasma-nettlesar er installert
Comment[pl]=Dostarcza łącze do rozszerzeń przeglądarki, jeśli gospodarz integracji przeglądarki Plazmy został wgrany
Comment[pt]=Oferece uma ligação para a extensão do navegador, caso o anfitrião da Integração do Navegador do Plasma esteja instalada
Comment[pt_BR]=Fornece um link para a extensão do navegador se o host da integração dos navegadores no Plasma está instalado
Comment[sv]=Tillhandahåller en länk till webbläsarutökningen om värden för Plasma webbläsarintegrering är installerad
Comment[uk]=Надає посилання на розширення браузера, якщо встановлено основну частину засобу інтеграції браузера із Плазмою
Comment[x-test]=xxProvides a link to the browser extension if the Plasma Browser Integration host is installedxx
Comment[zh_CN]=如果 Plasma 浏览器集成主程序已安装，则提供下载浏览器扩展的链接
Comment[zh_TW]=提供瀏覽器擴充套件連結，如果 Plasma 瀏覽器整合主機已經安裝。

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=browserintegrationreminder
X-KDE-DBus-ModuleName=browserintegrationreminder
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=2

